 {% block content %}


{% for p in post %}
    <li><img src="/media/{{p.photo}}" align="left" width="300" height="300"/>
        <b>Название: </b>{{p.title}}<br>
        <b> Описание: </b>{{p.description}}<br>
        <b> Id фотографии: </b>{{p.id}} <br>
        <b> Дата публикации: </b>{{p.photo_published}}<br>
        <b> Автор публикации: </b>{{p.author}}



    <div class="clear"></div>
    <p class="link-read-post"><a href=" {{ p.get_absolute_url }} ">Страница фотографии</a></p></li>
{% endfor %}
    </ul>
{% endblock %}

</body>
</html>